@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Permanent+Marker|Rubik+Mono+One&display=swap');

body {
  background-color: MistyRose;
}

ul {
  margin: 0;
  padding: 0;
}

nav {
  text-align: center;
  color: red;
  border: 1px solid #ccc;
  border-width: 1px 0;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Harabara Bold';
}

nav li {
  display: inline;
}

nav a {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  background-color: pink;
  color: black;
}

nav a:hover {
  background-color: #009;
  color: #fff;
}


.dobby {
  color: mediumseagreen;
  font-family: 'Indie Flower', cursive;
  font-size: 22pt;
}

.text1,
.text3,
.text5 {
  color: darkorange;
  font-family: 'Indie Flower', cursive;
  font-size: 16pt;
}

.text2,
.text4,
.text6 {
  color: mediumseagreen;
  font-family: 'Indie Flower', cursive;
  font-size: 16pt;
}

.dobby1 {
  float: left;
  width: 45%;
  padding: 10px;
  position: static;
}

.dobby2 {
  float: right;
  width: 45%;
  padding: 0px;
  position: static;
}

.dobby3 {
  float: right;
  width: 45%;
  padding: 5px;
  position: static;
}

.dobby4,
.dobby5 {
  float: left;
  width: 45%;
  padding: 5px;
  position: static;
}

.Bulgaria1 {
  background-color: Turquoise;
  color: white;
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 40pt;
  text-align: center;
}

.Europa,
.History,
.Union,
.Language,
.Tourism,
.Climate {
  background-color: MediumTurquoise;
  color: white;
  font-family: 'Permanent Marker', cursive;
  font-size: 30pt;
  text-align: center;
}

.Text1,
.Text4 {
  color: Crimson;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16pt;
  text-align: center;
}

.Text2,
.Text5 {
  color: MediumVioletRed;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16pt;
  text-align: center;
}

.Text3,
.Text6 {
  color: Blue;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16pt;
  text-align: center;
}

.bg3,
.Bg2,
.Bg4 {
  float: left;
  width: 33.33%;
  padding: 5px;
  position: static;
}

.Bg1,
.Bg5,
.Bg6 {
  float: right;
  width: 33.33%;
  padding: 5px;
  position:static;
}


.title {
  text-align: center;
  color: OrangeRed;
  background-color: Pink;
  font-family: helvetica;
  padding: 5px 10px 5px 10px;
  margin: 5px 10px;
  width: 100%;
}

h1 {
  text-align: center;
  background-color: LightPink;
  color: Crimson;
  font-family: helvetica;
  padding: 5px 10px 5px 10px;
  margin: 5px 10px;
  width: 100%;
}

.email {
  text-align: center;
  color: DarkRed;
  font-family: helvetica;
  width: 100%;
}

p {
  text-align: center;
  color: Maroon;
  font-family: helvetica;
  width: 100%;
}

h2 {
  text-align: center;
  color: OrangeRed;
  font-family: helvetica;
  width: 100%;
}

.skills,
.education {
  text-align: center;
  color: Brown;
  font-family: helvetica;
  width: 100%;
}

.Skills {
  text-align: center;
  color: Red;
  line-height: 1.6;
  font-weight: bold;
  font-family: helvetica;
  width: 100%;
}

.experience {
  text-align: center;
  color: Brown;
  font-family: helvetica;
  width: 100%;
}

.dobby {
  color: green;
  font-family: 'Indie Flower', cursive;
}

div {
  text-align: center;
  color: Red;
  font-weight: bold;
  font-family: helvetica;
  width: 100%;
}

@media only screen and (min-width: 1024px) {
  li {
    padding: 0;
    list-style: none;
  }
  .title {
    color: OrangeRed;
    background-color: Pink;
    font-family: helvetica;
  }
  .Skills {
    text-align: center;
    color: Red;
    line-height: 1.6;
    font-weight: bold;
    font-family: helvetica;
    display: block;
    background-color: MistyRose;
    width: 80%;
    padding: .3% 0% .3% 1%;
    border-radius: 5px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
  }
  .skills {
    text-align: center;
    display: block;
    background-color: MistyRose;
    width: 80%;
    padding: .3% 0% .3% 1%;
    border-radius: 5px;
    margin: auto;
  }
  .email {
    text-align: center;
    color: DarkRed;
    font-family: helvetica;
    display: block;
    background-color: MistyRose;
    width: 80%;
    padding: .3% 0% .3% 1%;
    border-radius: 5px;
    margin: auto;
  }
  .education {
    text-align: center;
    color: Brown;
    font-family: helvetica;
    display: block;
    background-color: MistyRose;
    width: 80%;
    padding: .3% 0% .3% 1%;
    border-radius: 5px;
    margin: auto;
  }
  .experience {
    color: Brown;
    font-family: helvetica;
    display: block;
    background-color: MistyRose;
    width: 80%;
    padding: 5px 5px 5px 5px;
    border-radius: 4px;
    text-align: center;
    width: 80%;
    margin: auto;
  }
}
@media only screen and (min-width: 480px) {
  li {
    padding: 0;
    list-style: none;
  }
  .title {
    color: OrangeRed;
    background-color: Pink;
    font-family: helvetica;
    padding: .3% 0% .3% 1%;
    border-radius: 5px;
  }
  .Skills {
    text-align: center;
    color: Red;
    line-height: 1.6;
    font-weight: bold;
    font-family: helvetica;
    display: block;
    background-color: MistyRose;
    width: 50%;
    padding: .3% 0% .3% 1%;
    border-radius: 5px;
  }
  .skills {
    text-align: center;
    display: block;
    background-color: MistyRose;
    font-family: helvetica;
    width: 50%;
    padding: .3% 0% .3% 1%;
    border-radius: 5px;
    margin: auto;
  }
  .email {
    text-align: center;
    color: DarkRed;
    font-family: arial;
    display: block;
    background-color: MistyRose;
    width: 50%;
    padding: .3% 0% .3% 1%;
    border-radius: 5px;
    margin: auto;
  }
  .education {
    text-align: center;
    color: Brown;
    font-family: arial;
    display: block;
    width: 50%;
    padding: .3% 0% .3% 1%;
    border-radius: 4px;
    margin: auto;
  }
  .experience {
    text-align: center;
    color: Brown;
    font-family: arial;
    display: block;
    width: 50%;
    padding: 5px 5px 5px 5px;
    border-radius: 4px;
    margin: auto;
  }
}
#container {
  width: 1425px;
  margin: 0px auto;
  resize: both;
  overflow: auto;
}

#map {
  width: 100%;
  height: 700px;
  background-color: rgb(248, 158, 158);
  margin: 50px auto;
}

.slideshow-container {
  max-width: 600px;
  margin-right: 10px;
  margin-top: 65px;
  border:5px solid pink;
  display: flex;
}
.mySLides {
  display:none;
  width:100%;
}

.prev,
.next {
  cursor:auto;
  top: 120%;
  width: auto;
  margin-top: -2px;
  padding: 15px;
  color: #A24F0B;
  font-weight: bold;
  font-size: 18px;
  transition: 1s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 6px 0 0 6px;
}
